# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ushuaia,AR,-54.8000,-68.3000,44.26,61,40,18.41,scattered clouds
1,Acapulco,MX,16.8634,-99.8901,82.08,76,16,9.51,few clouds
2,Chimbote,PE,-9.0853,-78.5783,64.24,83,46,9.17,scattered clouds
3,High Rock,BS,26.6208,-78.2833,75.22,91,100,33.93,overcast clouds
4,Busselton,AU,-33.6500,115.3333,61.20,83,95,7.34,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,High Rock,BS,26.6208,-78.2833,75.22,91,100,33.93,overcast clouds
5,Rikitea,PF,-23.1203,-134.9692,73.31,86,100,9.44,overcast clouds
11,Meulaboh,ID,4.1363,96.1285,75.20,92,98,3.27,light rain
17,Santa Cruz Del Sur,CU,20.7147,-77.9956,78.84,71,89,11.48,overcast clouds
19,Adrar,MR,20.5022,-10.0711,74.62,16,1,9.66,clear sky
21,Nishihara,JP,26.1842,127.7558,72.68,88,75,11.50,broken clouds
26,Belize,BZ,17.2500,-88.7500,73.08,93,10,3.36,light rain
29,Bambous Virieux,MU,-20.3428,57.7575,73.65,73,20,2.30,few clouds
31,Port-Gentil,GA,-0.7193,8.7815,78.76,94,100,11.50,overcast clouds
36,Antalaha,MG,-14.9003,50.2788,70.29,81,51,4.72,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,High Rock,BS,26.6208,-78.2833,75.22,91,100,33.93,overcast clouds
5,Rikitea,PF,-23.1203,-134.9692,73.31,86,100,9.44,overcast clouds
11,Meulaboh,ID,4.1363,96.1285,75.20,92,98,3.27,light rain
17,Santa Cruz Del Sur,CU,20.7147,-77.9956,78.84,71,89,11.48,overcast clouds
19,Adrar,MR,20.5022,-10.0711,74.62,16,1,9.66,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng
3,High Rock,BS,75.22,overcast clouds,26.6208,-78.2833
5,Rikitea,PF,73.31,overcast clouds,-23.1203,-134.9692
11,Meulaboh,ID,75.20,light rain,4.1363,96.1285
17,Santa Cruz Del Sur,CU,78.84,overcast clouds,20.7147,-77.9956
19,Adrar,MR,74.62,clear sky,20.5022,-10.0711

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,High Rock,BS,75.22,overcast clouds,26.6208,-78.2833,
5,Rikitea,PF,73.31,overcast clouds,-23.1203,-134.9692,
11,Meulaboh,ID,75.20,light rain,4.1363,96.1285,
17,Santa Cruz Del Sur,CU,78.84,overcast clouds,20.7147,-77.9956,
19,Adrar,MR,74.62,clear sky,20.5022,-10.0711,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [15]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,High Rock,BS,75.22,overcast clouds,26.6208,-78.2833,Hideaway Bahamas Beach Club
5,Rikitea,PF,73.31,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Meulaboh,ID,75.20,light rain,4.1363,96.1285,Kost Pria
17,Santa Cruz Del Sur,CU,78.84,overcast clouds,20.7147,-77.9956,
19,Adrar,MR,74.62,clear sky,20.5022,-10.0711,
21,Nishihara,JP,72.68,broken clouds,26.1842,127.7558,Minshuku Agaihama
26,Belize,BZ,73.08,light rain,17.2500,-88.7500,Villa San Juan
29,Bambous Virieux,MU,73.65,few clouds,-20.3428,57.7575,Casa Tia Villa
31,Port-Gentil,GA,78.76,overcast clouds,-0.7193,8.7815,Fengshui Residence
36,Antalaha,MG,70.29,light rain,-14.9003,50.2788,Hotel Vitasoa

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [31]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,High Rock,BS,75.22,overcast clouds,26.6208,-78.2833,Hideaway Bahamas Beach Club
5,Rikitea,PF,73.31,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Meulaboh,ID,75.20,light rain,4.1363,96.1285,Kost Pria
21,Nishihara,JP,72.68,broken clouds,26.1842,127.7558,Minshuku Agaihama
26,Belize,BZ,73.08,light rain,17.2500,-88.7500,Villa San Juan
29,Bambous Virieux,MU,73.65,few clouds,-20.3428,57.7575,Casa Tia Villa
31,Port-Gentil,GA,78.76,overcast clouds,-0.7193,8.7815,Fengshui Residence
36,Antalaha,MG,70.29,light rain,-14.9003,50.2788,Hotel Vitasoa
38,Fundao,BR,74.53,broken clouds,-19.9341,-40.4047,City Hotel
45,Vaini,TO,76.82,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [32]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [33]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [34]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hideaway Bahamas Beach Club</dd>\n<dt>City</dt><dd>High Rock</dd>\n<dt>Country</dt><dd>BS</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Pria</dd>\n<dt>City</dt><dd>Meulaboh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Minshuku Agaihama</dd>\n<dt>City</dt><dd>Nishihara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa San Juan</dd>\n<dt>City</dt><dd>Belize</dd>\n<dt>Country</dt><dd>BZ</dd>\n<dt>Current Weather</dt><dd>light rain and 73.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 73.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fengshui Residence</dd>\n<dt>City</dt><dd>Port-Gentil</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vitasoa</dd>\n<dt>City</dt><dd>Antalaha</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>light rain and 70.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>City Hotel</dd>\n<dt>City</dt><dd>Fundao</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 74.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.82 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [35]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   26.6208  -78.2833
5  -23.1203 -134.9692
11   4.1363   96.1285
21  26.1842  127.7558
26  17.2500  -88.7500
29 -20.3428   57.7575
31  -0.7193    8.7815
36 -14.9003   50.2788
38 -19.9341  -40.4047
45 -21.2000 -175.2000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [36]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))